{{ $sassOpts := (dict "targetPath" "styles.min.css" "outputStyle" "compressed" ) }}
{{ $sass := resources.Get "sass/drs.scss" }}
{{ $style := $sass | resources.ToCSS $sassOpts }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />

<link
  href="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/github-gist.css"
  rel="stylesheet"
/>

<link rel="shortcut icon" sizes="48x48" href="/img/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-chrome-192x192.png">
<link rel="manifest" href="/site.webmanifest">
