<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8"/>

    {{ partial "meta.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    {{ $sitetitle := .Site.Title }}
    {{ with .OutputFormats.Get "RSS" }}
      <link
        href="{{ .RelPermalink }}"
        rel="alternate"
        type="application/rss+xml"
        title="{{ $sitetitle }}"
      />
    {{ end }}
    {{ partial "head_includes.html" . }}
  </head>
  <body
    lang="{{ .Site.LanguageCode }}"
  >
    <section class="hero is-large is-primary cs-background">
      <div class="hero-body has-text-centered">
        <div class="container">
          <p class="title">
            doukutsu-rs
          </p>
          <p class="subtitle">
            A Cave Story engine remake written in Rust.
          </p>

          <div class="buttons is-justify-content-center">
            <a class="button is-success" href="#downloads">Downloads</a>
            <a class="button is-primary" href="https://doukutsu-rs.gitbook.io/docs">Documentation</a>
            <a class="button is-dark" href="https://github.com/doukutsu-rs/doukutsu-rs">GitHub</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-three-fifths is-offset-one-fifth">
            <p style="font-size: 1.4rem" class="mb-5">
              doukutsu-rs initially started as a Rust learning project, but eventually evolved into semi-playable and compatible reimplementation of the engine of Cave Story - a great indie game created by <a href="https://studiopixel.jp">Studio Pixel</a>.
            </p>
            <p style="font-size: 1.4rem">
              The project aims to deliver a decent alternative for the original engine, improving it with features such as multiplayer support and independent framerate (so the game runs at original speed and looks smooth regardless of monitor refresh rate).
            </p>
          </div>
        </div>
      </div>
    </section>


   <section class="section" id="downloads">
      <div class="container">
        <h2 class="mb-5">Downloads</h2>

        <div id="downloads-nightly">
          <h3>Nightly</h3>
          <p class="mt-2 mb-5">Fresh doukutsu-rs builds, compiled on each commit of <code>master</code> and features branch.</p>

          <div class="columns is-multiline">
            {{ range .Site.Params.downloads.platforms }}
              {{ partial "downloads-section.html" (dict "platform" . "channel" "nightly" "fallback" true) }}
            {{ end }}
          </div>
        </div>
        <div class="mt-6" id="downloads-stable">
          <h3>Stable</h3>
          <p class="mt-2 mb-5">The latest changes and fixes are missing, but in general all features are tested and works fine.</p>

          <div class="columns is-multiline">
            {{ range .Site.Params.downloads.platforms }}
              {{ partial "downloads-section.html" (dict "platform" . "channel" "stable" "fallback" false) }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <script>
      async function setInfo(container, info) {
        if (!container) {
          return;
        }

        const versionEl = container.querySelector('.info .version');
        if (versionEl) {
          versionEl.innerText = info.version
        }

        const commitEl = container.querySelector('.info .commit');
        if (commitEl && info.commit) {
          commitEl.innerHTML = '<code>' + info.commit.slice(0, 7) + '</code>';
        } else if (commitEl) {
          commitEl.parentNode.remove();
        }

        const dateEl = container.querySelector('.info .date');
        if (dateEl && info.date) {
          dateEl.innerHTML = (new Date(info.date * 1000)).toLocaleDateString('{{ .Site.LanguageCode }}', {
            year: "numeric",
            month: "long",
            day: "2-digit",
            hour: "numeric",
            minute: "numeric",
            second: "numeric",
            //timeZoneName: "short"
          });
        }

        const linkEl = container.querySelector('.link');
        if (linkEl) {
          linkEl.classList.remove("is-loading");

          linkEl.href = info.link;
          linkEl.textContent = "Download";
        }
      }

      async function setFail(channel, msg) {
        const channelContainer = document.getElementById(`downloads-${channel}`);
        const blocks = channelContainer.querySelectorAll('.content');

        if (!msg) {
          msg = "Failed to fetch direct download link."
        }

        for (const block of blocks) {
          block.innerHTML = String.raw`<p>${msg}</p>`;
        }
      }

      async function fetchBuilds(channel, link, fallback = false, failMsg = null) {
        try {
          const req = await fetch(link, {
            headers: {
              'Accept': 'application/json'
            }
          });

          const data = await req.json();
          console.log(data);

          for (const platform in data) {
            const info = data[platform];
            console.log(info);
            if (info.version !== undefined) {
              const container = document.getElementById(`downloads-${channel}-${platform}`);

              await setInfo(container, info);
              continue;
            }

            for (const arch in info) {
              const archInfo = info[arch];
              const container = document.getElementById(`downloads-${channel}-${platform}-${arch}`);

              await setInfo(container, archInfo);
            }
          }
        } catch (ex) {
          console.error(`Failed to fetch builds for '${channel}' channel.`);
          console.error(ex);

          if (!fallback) {
            await setFail(channel, failMsg);
          }

          return;
        }


      }

      (async() => {
        await fetchBuilds('nightly', '{{ .Site.Params.downloads.nightly.metadata }}', true);
        await fetchBuilds(
          'stable',
          '{{ .Site.Params.downloads.stable.metadata }}',
          false,
          'Failed to fetch a direct download link. Check out the releases <a class="link" href="{{ .Site.Params.downloads.stable.fail_page }}">download page</a>.');
      })();
    </script>

    {{ partial "footer.html" . }}
  </body>
</html>
